<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./favicon.png">

    <title>sarang</title>
</head>
<body>
    <header>
        <!-- <div>
            <button>☰</button>
        </div> -->
        <div class="logo-wrap">
            <div class="logo"></div>
            <h1>SARANG</h1>
        </div>
        <nav>
            <ul>
              <li><a href="">Beranda</a></li>
              <li><a href="">Kelola Sampah</a></li>
              <li><a href="">Layanan</a></li>
              <li><a href="">Tentang Kami</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <div class="jumbtrone">
            <div class="jumbtrone-text">
                <h2>Ciptakan lingkungan yang bersih dan<br>sehat bersama Sampah Terang</h2>
                <p>Belajar mengelola sampah agar lingkungan terbebas dari kuman dan penyakit.<br>Sampah Terang membantu mengelola sampah organik dengan mudah.</p>
            </div>
            <div class="jumbtrone-image"></div>
        </div>
        <div class="benefit">
            <h2>Keuntungan Daur Ulang Sampah</h2>
            <hr>
            <div class="info-group">
                <div class="info-wrap">
                    <div class="number">1</div>
                    <p><span>Mengurangi Jumlah Sampah.</span><br>Daur ulang sampah dapat mengurangi jumlah sampah yang dikirim ke tempat pembuangan akhir.</p>
                </div>
                <div class="info-wrap">
                    <div class="number">2</div>
                    <p><span>Menghemat Sumber Daya.</span><br>Daur ulang dapat menghambat sumber daya alam seperti air, kayu, dan minyak.</p>
                </div>
                <div class="info-wrap">
                    <div class="number">3</div>
                    <p><span>Mengurangi Emisi Gas Rumah Kaca.</span><br>Saat sampah diolah di tempat pembuangan akhir, terjadi proses dekomposisi yang menghasilkan gas metana yang berkontribusi terhadap pemanasan global.</p>
                </div>
                <div class="info-wrap">
                    <div class="number">4</div>
                    <p><span>Membuat Produk Baru.</span><br>Sampah yang diolah kembali dapat digunakan untuk membuat produk baru seperti tas, baju, atau hiasan dinding.</p>
                </div>
            </div>
        </div>
        <div class="trash">
            <h2>Jenis - Jenis Sampah</h2>
            <hr>
            <div class="trash-group">
                <div class="trash-wrap">
                    <div class="trash-image"><img src="./organik.jpg" alt=""></div>
                    <p><span>Sampah organik</span><br>Sampah organik adalah jenis sampah yang terbuat dari bahan-bahan organik seperti sisa makanan, daun, rumput, dan kayu.</p>
                </div>
                <div class="trash-wrap">
                    <p><span>Sampah organik</span><br>Sampah organik adalah jenis sampah yang terbuat dari bahan-bahan organik seperti sisa makanan, daun, rumput, dan kayu.</p>
                    <div class="trash-image"><img src="./anorganik.jpg" alt=""></div>
                </div>
                <div class="trash-wrap">
                    <div class="trash-image"><img src="./b3.jpg" alt=""></div>
                    <p><span>Sampah organik</span><br>Sampah organik adalah jenis sampah yang terbuat dari bahan-bahan organik seperti sisa makanan, daun, rumput, dan kayu.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="logo"></div>
        <p>Copyright © 2023 | Sampah Terang</p>
        <div class="sosmed">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>    
</body>
</html>