<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./favicon.png">

    <title>SARANG</title>
</head>
<body>
    <header>
        <div class="hamburger">
            <button>☰</button>
        </div>
        <div class="logo-wrap">
            <div class="logo"></div>
            <h1>SARANG</h1>
        </div>
        <nav>
            <ul>
              <li><a href="#/beranda">Beranda</a></li>
              <li><a href="#/kelola-sampah">Kelola Sampah</a></li>
              <li><a href="#/layanan">Layanan</a></li>
              <li><a href="#/tentang-kami">Tentang Kami</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <div class="jumbtrone-tentangkami">
            <div class="logo-wrap-tentangkami">
                <div class="logo-tentangkami"></div>
                <p>Sampah Terang</p>
            </div>
            <p>Sampah Terang mengajak masyarakat untuk mengubah sampah menjadi sumber cahaya atau inspirasi yang terang dan positif. Tujuan utama dari website ini adalah untuk mengedukasi masyarakat tentang pentingnya daur ulang sampah, serta memberikan panduan yang jelas dan mudah diakses tentang cara melakukannya dengan benar.</p>
        </div>
        <div class="team-wrap-tentangkami">
            <h2>Tim Kami</h2>
            <hr>
            <div class="team-group">
                <div class="team-item">
                    <div class="team-header"></div>
                    <div class="team-image team1"></div>
                    <div class="team-body">
                        <p>Arief Rahman Hakim</p>
                        <div class="sosmed">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>   
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-header"></div>
                    <div class="team-image team2"></div>
                    <div class="team-body">
                        <p>Muhammad Lanang Agung A.</p>
                        <div class="sosmed">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>   
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-header"></div>
                    <div class="team-image team3"></div>
                    <div class="team-body">
                        <p>I.A. Putu Inggita Anindya</p>
                        <div class="sosmed">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>   
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-header"></div>
                    <div class="team-image team4"></div>
                    <div class="team-body">
                        <p>Rama Indrawan</p>
                        <div class="sosmed">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="logo"></div>
        <p>Copyright © 2023 | Sampah Terang</p>
        <div class="sosmed">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>    
</body>
</html>