<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./favicon.png">

    <title>SARANG</title>
</head>
<body>
    <header>
        <div class="hamburger">
            <button>☰</button>
        </div>
        <div class="logo-wrap">
            <div class="logo"></div>
            <h1>SARANG</h1>
        </div>
        <nav>
            <ul>
              <li><a href="#/beranda">Beranda</a></li>
              <li><a href="#/kelola-sampah">Kelola Sampah</a></li>
              <li><a href="#/layanan">Layanan</a></li>
              <li><a href="#/tentang-kami">Tentang Kami</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <div class="jumbtrone-layanan">
            <div class="jumbtrone-layanan-image"></div>
            <div class="jumbtrone-layanan-txt">
                <h2>Melayani Pengelolaan Sampah</h2>
                <p>Setiap langkah kecil dalam pengelolaan sampah sangat berarti. Kami siap menjadi mitra Anda dalam mengurangi, mendaur ulang, dan memanfaatkan sampah secara bertanggung jawab.</p>
                <a id="button-tukar" href=""><button>Tukar Sampah</button></a>
                <a id="button-jual" href=""><button>Jual Pupuk Kompos</button></a>
            </div>
        </div>
        <div class="info-layanan">
            <h2>Sampah Yang Dapat Ditukarkan</h2>
            <hr>
            <p class="underscore">Sampah Anorganik</p>
            <div class="trash-example">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="underscore">Sampah Organik</p>
            <p>Bahan - bahan organik seperti rumput, daun, limbah dapur, atau sisa-sisa tanaman dapat digunakan untuk membuat pupuk kompos cair. Bahan organik ini dicincang halus, dicampurkan dengan air, dan difermentasi untuk menghasilkan pupuk yang kaya akan nutrisi.</p>
        </div>
        <div class="container-form-exchange">
            <div class="form-exchange">
                <h2>Tukar Sampah</h2>
                <hr>
                <p>Form Pendaftaran</p>
                <form action="">
                    <label for="name">Nama</label>
                    <input type="text" id="name" required>
                    <label for="addres">Alamat</label>
                    <input type="text" id="addres" required>
                    <label for="phone-number">No. Telepon</label>
                    <input type="number" id="phone-number" required>
                    <div class="split-side">
                        <div class="left-side">
                            <label for="trash-specification">Jenis Sampah</label>
                            <input type="" id="trash-specification" required>
                            <label for="trash-amount">Jumlah Sampah (Kg)</label>
                            <input type="number" id="trash-amount" required>
                        </div>
                        <div class="right-side">
                            <label >Harga Per Kilo</label>
                            <input type="text" readonly>
                            <label >Total Harga</label>
                            <input type="text" readonly>
                        </div>
                    </div>
                    <input type="submit" value="Tukar">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="logo"></div>
        <p>Copyright © 2023 | Sampah Terang</p>
        <div class="sosmed">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>    
</body>
</html>