@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}



/* header */

#logOut {
    display: none;
}

header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 10px 0px #0000003d;
    color: #379237;
    background-color: white;
    z-index: 999;
}

header .hamburger {
    display: none;
}

header .logo-wrap {
    align-items: center;
    display: flex;
    gap: 10px;
}

header .logo {
    width: 40px;
    height: 40px;
    background-image: url("../public/favicon.png");
    background-size: cover;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #379237;
    font-size: 16px;
}

header nav ul li a:focus {
    text-decoration: underline;
    font-weight: bold;
}

/* main */
main {
    padding: 150px 80px 0px 80px;
}

/* jumbtrone */
.jumbtrone {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.jumbtrone-text {
    color: #617A55;
}

.jumbtrone-text h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.jumbtrone-text p {
    font-size: 18px;
}

.jumbtrone-image {
    height: 400px;
    width: 700px;
    background-image: url("../public/bumi.jpg");
    background-size: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px 0px ;
}

/* benefit */
.benefit {
    background-color: #FAFFF7;;
    text-align: center;
    padding: 100px 0px;
}

.benefit h2, .trash h2 {
    color: #617A55;
    font-size: 24px;
}

.benefit hr, .trash hr {
    border: none;
    margin: 20px auto 40px auto;
    width: 200px;
    height: 5px;
    background-color: #9DFF51;
}

.info-group {
    margin: auto;
    width: 80%;
    color: #6DA441;
}

.info-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.info-wrap .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    background-color: #82CD47;
    color: white;
}

.info-wrap p {
    width: 90%;
    text-align: left;
    font-size: 18;
}

.info-wrap span {
    font-weight: bold;
    text-decoration: underline;
}

/* trash*/
.trash {
    text-align: center;
    padding: 100px 0px;
}

.trash-group {
    margin: auto;
    width: 80%;
}

.trash-wrap {
    gap: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #617A55;
    font-size: 18px;
    margin-bottom: 20px;
}

.trash-wrap:nth-child(2) {
    text-align: right;
}

.trash-wrap:nth-child(1) .trash-image{
    background-image: url("../public/organik.jpg");
    background-size: cover;
} 

.trash-wrap:nth-child(2) .trash-image{
    background-image: url("../public/anorganik.jpg");
    background-size: cover;
}

.trash-wrap:nth-child(3) .trash-image{
    background-image: url("../public/b3.jpg");
    background-size: cover;
} 

.trash-wrap .trash-image {
    height: 120px;
    width: 350px;
    border-radius: 4%;    
}

.trash-wrap span {
    font-weight: bold;
    text-decoration: underline;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #379237;
    color: white;
    font-size: 14px;
    padding: 20px 40px;
}

footer .logo {
    width: 40px;
    height: 40px;
    background-image: url("../public/favicon.png");
    background-size: cover;
}

footer .sosmed {
    display: flex;
    gap: 15px;
}

footer .sosmed i {
    font-size: 24px;
    color: white;
}

footer .logo-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-info .location {
    margin-left: 1.4px;
    margin-bottom: 5px;
}

.footer-info .location, .footer-info .time {
    display: flex;
    gap: 10px;
}

.footer-info .location i {
    margin-right: 3px;
    font-size: 18px;
}

.footer-info .time i {
    font-size: 17px;
}

footer .note{
    margin-right: 180px;
}



/* responsive */

@media (max-width: 768px) {
    
    /* header */

    header .logo {
        width: 35px;
        height: 35px;
    }
    
    header h1 {
        font-size: 28px;
    }

    header nav ul{
        font: 10px;
        gap: 20px;
    }

    header nav ul li a {
        font-size: 14px;
    }

    /* main */
    
    main {
        padding: 100px 40px 0px 40px;
    }
    
    /* jumbtrone */

    .jumbtrone {
        padding-bottom: 0px;
        gap: 20px;
    }
    
    .jumbtrone-text h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    
    .jumbtrone-text p {
        font-size: 16px;
    }
    
    .jumbtrone-image {
        width: 100%;
        height: 380px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0px center ;
    }

    /* benefit */
    
    .benefit {
        padding: 100px 0px 0px 0px;
    }

    .benefit h2, .trash h2 {
        font-size: 22px;
    }

    .benefit hr, .trash hr {
        width: 160px;
        height: 4px;
    }

    .info-wrap {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-bottom: 20px;
    }

    .info-wrap .number {
        height: 48px;
        line-height: 48px;
        font-size: 18px;
    }

    .info-wrap p {
        font-size: 16;
    }

    /* trash*/
    
    .trash-group {
        width: 90%;
    }

    .trash-wrap {
        gap: 15px;
        font-size: 16px;
    }

    .trash-wrap .trash-image {
        height: 120px;
        width: 400px;
        border-radius: 4%;    
    }

    /* footer */
    
    footer {
        font-size: 12px;
    }
    
    footer .logo {
        width: 35px;
        height: 35px;
    }
    
    footer .sosmed {
        gap: 12px;
    }
    
    footer .logo-wrap {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .footer-info .location {
        margin-left: 1.4px;
        margin-bottom: 5px;
    }
    
    .footer-info .location, .footer-info .time {
        gap: 5px;
    }
    
    .footer-info .location i {
        margin-right: 3px;
        font-size: 15px;
    }
    
    .footer-info .time i {
        font-size: 14px;
    }
    
    footer .note{
        margin-right: 100px;
    }
}

@media (max-width: 425px) {
    
    /* header */
    
    header {
        padding: 20px 20px;
        flex-direction: row; 
    }

    header :nth-child(2){
        margin: auto;
    }

    header .hamburger {
        display: inline-block;
    }

    header .hamburger button {
        border: none;
        background-color: white;
        color: #379237;
        font-size: 24px;
        /* font-weight: bold; */

    }

    header .logo-wrap {
        gap: 5px;
    }

    header .logo {
        width: 30px;
        height: 30px;
    }

    header h1 {
        font-size: 24px;
    }

    header nav {
        transition: 0.5s;
        width: 150px;
        position: absolute;
        top: 74px;
        left: -160px;
        background-color: white;
        border-bottom: 1px solid #82CD47;
        border-right: 1px solid #82CD47;
    }

    .open {
        left: 0px;
    }

    header nav ul {
        width: 100%;
        gap: 0px;
        flex-direction: column;
        text-align: center;
    }
    
    header nav ul li {
        width: 100%;
    }

    header nav ul li a{
        padding: 10px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        color: #82CD47;
        transition: 0.3s;
    }

    
    header nav ul li a:focus {
        text-decoration: none;
        font-weight: normal;
    }

    header nav ul li a:hover {
        color: white;
        background-color: #82CD47;
    }

    /* main */

    main {
        padding: 120px 40px 0px 40px;
    }

    /* jumbtrone */

    .jumbtrone {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }


    .jumbtrone-text h2 {
        margin-bottom: 7px;
        font-size: 20px;
    }

    .jumbtrone-text p {
        font-size: 14px;
    }

    .jumbtrone-image {
        height: 280px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -35px 0px ;
    }

    /* benefit */

    .benefit h2, .trash h2 {
        font-size: 20px;
    }

    .benefit hr, .trash hr {
        width: 130px;
        height: 3px;
    }

    .info-wrap {
        gap: 15px;
        margin-bottom: 18px;
    }

    .info-wrap .number {
        height: 35px;
        width: 40px;
        line-height: 35px;
        font-size: 14px;
    }

    .info-wrap p {
        font-size: 13px;
    }
    
    /* trash*/

    .trash-group {
        width: 100%;
    }

    .trash-wrap {
        gap: 10px;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .trash-wrap:nth-child(2) {
        text-align: left;
        display: flex;
        flex-direction: column-reverse;
    }


    .trash-wrap .trash-image {
        width: 350px;
    }

    /* footer */

    footer {
        font-size: 10px;
        padding: 20px;
    }
    
    footer .logo {
        width: 28px;
        height: 28px;
    }
    
    footer .sosmed {
        display: flex;
        gap: 10px;
    }
    
    footer .sosmed i {
        font-size: 20px;
    }
    
    footer .logo-wrap {
        gap: 5px;
    }
    
    .footer-info .location {
        margin-left: 1.4px;
        margin-bottom: 5px;
    }
    
    .footer-info .location, .footer-info .time {
        display: flex;
        gap: 5px;
        font-size: 10px;
    }
    
    .footer-info .location i {
        margin-right: 3px;
        font-size: 14px;
    }
    
    .footer-info .time i {
        font-size: 13px;
    }
    
    footer .note{
        font-size: 10px;
        margin-right: 0px;
        display: none;
    }
}