
/* jumbtrone-kelolaSampah */

.jumbtrone-kelolaSampah {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #617A55;
}

.jumbtrone-kelolaSampah .jumbtrone-kelolaSampah-image {
    background-image: url("../public/truck.png");
    width: 50%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4%;
}

.jumbtrone-kelolaSampah h2 {
    font-size: 24px;
}

.jumbtrone-kelolaSampah p {
    font-size: 18px;
}

/* info-kelolaSampah */

.info-kelolaSampah {
    padding: 100px 0px;
}

.info-kelolaSampah hr {
    border: none;
    margin: 20px auto 40px auto;
    width: 200px;
    height: 5px;
    background-color: #9DFF51;
}

.info-kelolaSampah h2 {
    text-align: center;
    font-size: 24px;
    color: #617A55;
}

.info-kelolaSampah p, .info-kelolaSampah ul {
    margin-bottom: 10px;
}

.info-kelolaSampah ul {
    margin-left: 35px;
    margin-bottom: 30px;

}

.info-kelolaSampah p, .info-kelolaSampah li {
    font-size: 18px;
    color: #6DA441;
}
