@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/* header */

header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 10px 0px #0000003d;
    color: #379237;
    background-color: white;
    z-index: 999;
}

header .logo-wrap {
    display: flex;
    gap: 10px;
}

header .logo {
    width: 40px;
    height: 40px;
    background-image: url("../public/favicon.png");
    background-size: cover;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #379237;
    font-size: 16px;
}

/* main */
main {
    padding: 0px 80px;
}

/* jumbtrone */
.jumbtrone {
    padding: 150px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.jumbtrone-text {
    color: #617A55;
}

.jumbtrone-text h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.jumbtrone-text p {
    font-size: 18px;
}

.jumbtrone-image {
    height: 400px;
    width: 700px;
    background-image: url("../public/bumi.jpg");
    background-size: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px 0px ;
}

/* benefit */
.benefit {
    background-color: #FAFFF7;;
    text-align: center;
    padding: 100px 0px;
}

.benefit h2, .trash h2 {
    color: #617A55;
    font-size: 24px;
}

.benefit hr, .trash hr {
    border: none;
    margin: 20px auto 40px auto;
    width: 200px;
    height: 5px;
    background-color: #9DFF51;
}

.info-group {
    margin: auto;
    width: 80%;
    color: #6DA441;
}

.info-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.info-wrap .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    background-color: #82CD47;
    color: white;
}

.info-wrap p {
    width: 90%;
    text-align: left;
    font-size: 18;
}

.info-wrap span {
    font-weight: bold;
}

/* trash*/
.trash {
    text-align: center;
    padding: 100px 0px;
}

.trash-group {
    margin: auto;
    width: 80%;
}

.trash-wrap {
    gap: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #617A55;
    font-size: 18px;
}

.trash-wrap:nth-child(2) {
    text-align: right;
}

.trash-wrap .trash-image {
    height: 120px;
    width: 350px;
    background-color: #379237;
    border-radius: 4%;
    overflow: hidden;    
}

.trash-wrap .trash-image img{
    width: 100%;
}

.trash-wrap span {
    font-weight: bold;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #379237;
    color: white;
    font-size: 14px;
    padding: 20px 40px;
}

footer .logo {
    width: 40px;
    height: 40px;
    background-image: url("../public/favicon.png");
    background-size: cover;
}

footer .sosmed {
    display: flex;
    gap: 15px;
}

footer .sosmed i {
    font-size: 24px;
    color: white;
}